# 开发环境
*.code-workspace
.github_token
.clinerules/
desktop.ini
push.bat
.venv/
control/
fuck-wjx-old_version/
AGENTS.md

# 编译环境
build/
dist/
Setup/
.env
.gitignore
    
# 运行环境
__pycache__/
configs/
logs/
