# 开发环境
*.code-workspace
.github_token
.clinerules/
.claude/
.gemini/
.ruff_cache/
desktop.ini
push.bat
.venv/
control/
AGENTS.md
CLAUDE.md

# 编译环境
/build/
/dist/
/Setup/
.env

# 运行环境
__pycache__/
*.pyc
/configs/
/logs/
/stats/